.standards-layout__container,
.settings-layout__container,
.maps-layout__container {
  margin-top: 70px;
}

.auth-login__google-icon {
  margin-right: 10px;
  font-size: 40px;
}

.declaration__check-icon {
  color: green;
  bottom: 5px;
  right: 5px;
  position: absolute;
  font-size: 1.2rem;
}

.form__invalid-feedback {
  color: white;
  padding: 0px 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 15px;
}

.characterization__card {
  &:hover {
    cursor: pointer;
    background-color: #f9fbff;
  }
}

.cursor-pointer {
  cursor: pointer;
}

