.standards-layout__container,
.settings-layout__container,
.maps-layout__container {
  margin-top: 70px;
}

.auth-login__google-icon {
  margin-right: 10px;
  font-size: 40px;
}

.declaration__check-icon {
  color: green;
  bottom: 5px;
  right: 5px;
  position: absolute;
  font-size: 1.2rem;
}
